<!-- Standard toast for normal notifications -->
<p-toast key='basic' position="bottom-right" [preventOpenDuplicates]="true"/>

<!-- Special custom toast for complete reminders -->
<p-toast key="reminderComplete" position="bottom-left">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <b>{{message.summary}}</b>
      <p>{{message.detail}}</p>
      <div style="width: 100vw;">
        <p-button (onClick)="confirmResponse(message)" icon="pi pi-check" severity="success" label="Mark Complete" pTooltip="Keep the Thing but mark the reminder as complete" />
        &nbsp;
        <p-button (onClick)="postponeReminder(message)" icon="pi pi-check" severity="info" label="Postpone" pTooltip="Postpone this reminder until the same time tomorrow" />
      </div>
    </div>
  </ng-template>
</p-toast>

<!-- Special custom toast for displaying a public link after save -->
<p-toast key="publicLink" position="bottom-left">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <b>{{message.summary}}</b>
      <p>{{message.detail}}</p>
      <div style="text-align: center;" (click)="message.data?.forThing?.copyPublicLink()">
        <input pInputText [value]="message.data?.forThing?.generatePublicLink()" readonly="true" style="cursor: copy;"
               (click)="clickPublicLinkInput($event)"/>
        <br/>
        <p-button icon="pi pi-clipboard" severity="info" label="Copy to Clipboard" pTooltip="Copy the public link to your clipboard" />
      </div>
    </div>
  </ng-template>
</p-toast>