<!-- Standard toast for normal notifications -->
<p-toast key='basic' position="bottom-right" [preventOpenDuplicates]="true"/>

<!-- Special custom toast for complete reminders -->
<p-toast key="reminderComplete" position="bottom-left">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <b>{{message.summary}}</b>
      <p>{{message.detail}}</p>
      <div>
        <p-button (onClick)="confirmResponse(message)" icon="pi pi-check" severity="success" label="Mark Complete" />
      </div>
    </div>
  </ng-template>
</p-toast>