.main-wrap-with-toolbar {
  margin-top: var(--fixed-toolbar-height);
}

.header-tiny-button {
  cursor: pointer;
  vertical-align: middle;
}

.header-clear-rows-button {
  padding-left: 5px;
  padding-right: 2px;
}

.header-tiny-button:hover {
  color: var(--primary-color) !important;
}

.header-tiny-button-color {
  color: rgba(255, 255, 255, 0.6); /* Match the other PrimeNG filter buttons */
}

.header-filter-field {
  width: 90%;
  height: 30px;
  max-width: var(--standard-field-width);
}

.floating-refresh {
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 2;
}

.thing-table {
  min-width: 50rem;
  --updated-col-width: 80px;
  --name-col-width: 300px;
  --type-col-width: 250px;
  --time-col-width: auto;
}

.name-col, .type-col {
  min-width: 250px;
}

.name-col {
  width: var(--name-col-width);
}

.time-col {
  width: var(--time-col-width);
  min-width: 200px;
}

.time-col-td {
  font-variant-numeric: tabular-nums; /* Behave as much as possible like a fixed width font...without being one */
}

.updated-col {
  width: var(--updated-col-width);
  min-width: var(--updated-col-width);
  max-width: var(--updated-col-width);
}

.updated-col-cell {
  font-size: 10px;
  padding: 0 0 0 10px;
}

.type-col {
  width: var(--type-col-width);
}

.control-col {
  text-align: right;
  min-width: 150px;
}

.fields-col {
  min-width: 300px;
  width: calc(100% - var(--updated-col-width) - var(--name-col-width) - var(--time-col-width) - var(--type-col-width));
}

.fields-scroller {
  max-height: 150px;
  overflow: auto;
}

.no-things-wrap {
  font-size: 24px;
  text-align: center;
  width: 100%;
  padding-top: 35vh;
}

.no-things-wrap .small {
  font-size: 18px;
}

.fixed-toolbar {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1000px;
  min-height: var(--fixed-toolbar-height);
  box-shadow: 0 5px 5px var(--primary-color);
  background-color: var(--surface-ground);
}

.fixed-toolbar p-button,
.reminder-button {
  margin-right: 10px;
}

.toolbar-content {
  padding: 6px 10px 5px 5px;
}

.toolbar-left,
.toolbar-right {
  display: inline-block;
  vertical-align: middle;
}

.toolbar-right {
  float: right;
}

.menu-dial,
.menu-dial-badge,
.menu-dial-overlay {
  width: var(--dial-box-size);
  height: var(--dial-box-size);
  position: absolute;
  right: var(--dial-right-pos);
  top: var(--fixed-toolbar-height);
}

.menu-dial {
  z-index: 5;
  opacity: 0.9;
}

.menu-dial-badge {
  color: white;
  background-color: red;
  box-shadow: 0 0 5px white;
  width: var(--dial-badge-size);
  height: var(--dial-badge-size);
  z-index: 6;
  opacity: 1;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.menu-dial-overlay {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  z-index: 7;
  opacity: 1;
}

.favorite-section {
  padding: 10px;
}

.favorite-section label {
  padding-right: 10px;
}

.quickview-zoom {
  cursor: zoom-in;
}
.quickview-zoom:hover {
  box-shadow: 0 0 5px inset var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.limit-text {
  margin-left: -50px; /* Keep the Limit to the left of the dropdown, to prevent wrapping on smaller screens */
}

.demo-text {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 5px 10px;
  opacity: 0.9;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  background-color: orange;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 5px;
  z-index: 10;
}

@media (max-width: 850px) { /* var(--mobile-breakpoint) equivalent, just can't use in media queries */
  /* Remove set widths on columns to squish more in */
  .thing-table {
    --name-col-width: auto;
    --type-col-width: auto;
  }
  
  /* Smaller min-width to save space on mobile */
  .name-col, .type-col {
    min-width: 50px;
  }
}

@media (max-width: 1200px) { /* Shrink the Search Things input */
  .global-search-wrap input {
    width: calc(var(--standard-field-width) - 125px);
  }
}

@media (max-width: 1075px) { /* Shrink the Search Things input */
  .global-search-wrap input {
    width: calc(var(--standard-field-width) - 175px);
  }
}