<p-progressBar [mode]="things.loading ? 'indeterminate' : 'determinate'" class="loading-bar" />

@if (authService.getAuth().isDemoAccount) {
  <div class="demo-text">Demo</div>
}

@if (useDial) {
  <div id="ddOverlay" [draggable]="true" (dragstart)="dialDragStart($event)" (dragend)="dialDragEnd($event)"
       class="menu-dial menu-dial-overlay"
       (click)="dialOverlayClickthru($event)"></div>
  @if (things.getReminderBadgeCount() > 0) {
    <div id="ddBadge" class="menu-dial-badge"
        [style.top]="getDialBadgeTop()"
        [style.left]="getDialBadgeLeft()">{{things.getReminderBadgeCount()}}</div>
  }
  <p-speedDial #speedDial id="speedDial" [model]="getSpeedDialItems()" direction="down" type="linear" class="menu-dial"
                (onHide)="isDialOpen = false" (onShow)="isDialOpen = true">
  </p-speedDial>
}
@else {
  <div class="fixed-toolbar">
    <div class="toolbar-content">
      <div class="toolbar-left">
        <p-button (onClick)="refreshThings()" icon="pi pi-refresh" [loading]="things.loading" severity="info" pTooltip="Refresh Things"/>
        <p-button (onClick)="userProfileDialog.show();" icon="pi pi-user" severity="info" pTooltip="User Profile and Logout"/>
        @if (templateService.hasFavorite()) {
          <p-button (onClick)="quickfillFavoriteThing()" icon="pi pi-heart-fill" severity="help" pTooltip="Create a new Thing from your Favorite Template"/>
        }
        <p-button (onClick)="clearSelectedRows(); manageTemplate.show()" icon="pi pi-list" [label]="getManageTemplateLabel()" />
        <p-button (onClick)="clearSelectedRows(); manageThing.showAdd()" icon="pi pi-plus-circle" label="New Thing" />
        <p-button (onClick)="requestEditSelected()" icon="pi pi-pencil" label="Edit Thing" [disabled]="!hasSelectedRows()" />
        <p-button (onClick)="confirmDeleteSelected($event)" icon="pi pi-trash" severity="danger" [label]="getDeleteLabel()" [disabled]="!hasSelectedRows()" />
      </div>
      <div class="toolbar-right">
        @if (things.hasAnyReminders()) {
          <p-splitButton (onClick)="toggleShowReminders()"
                        icon="pi pi-clock" [model]="getRemindersForSplitButton()"
                        [label]="getReminderLabel()"
                        class="reminder-button" styleClass="p-button-secondary p-button-sm"/>
        }
        <span class="global-search-wrap p-input-icon-left p-input-icon-right" [hidden]="things.loading"> <!-- Use hidden instead of ngIf to maintain the user text state while loading -->
          <i class="pi pi-search"></i>
          <input #globalSearchIn pInputText (input)="globalFilterTableByEvent($event)" placeholder="Search Things" />
          <i class="pi pi-times-circle header-tiny-button" title="Clear the search input"
             (click)="clearGlobalFilter(globalSearchIn)"></i>
        </span>
        @if (things.loading) {
          <p-progressSpinner />
        }
      </div>
    </div>
  </div>
}

<div [class]="'main-wrap' + (useDial ? '' : ' main-wrap-with-toolbar')" dropzone="true">

@if (showReminders) {
  <div id="reminders">
    @for (reminder of things.remindersOverdue; track reminder.id) {
      <riw-reminder-message [thing]="reminder" [overdue]="true" (onClick)="handleOverdueReminder($event)" />
    }
    @for (reminder of things.reminders; track reminder.id) {
      <riw-reminder-message [thing]="reminder" (onClick)="requestEditReminder($event)" />
    }
  </div>
}

@if (things.loadedAndHasData()) {
<p-table #thingTable
         dataKey="id"
         [value]="things.data" [loading]="things.loading"
         class="thing-table" styleClass="p-datatable-striped"
         selectionMode="multiple" [(selection)]="selectedRows"
         (sortFunction)="customSort($event)" [customSort]="true"
         [sortField]="getUser().tableSortColumn" [sortOrder]="getUser().tableSortOrder"
         [globalFilterFields]="['name', 'time', 'templateType', 'flagsAsString', 'fieldsAsString']"
         [paginator]="getUser().paginatorTable" [rows]="getUser().paginatorRows"
         [pageLinks]="3" [alwaysShowPaginator]="false" [showFirstLastIcon]="false" [showCurrentPageReport]="true"
         [scrollable]="tableScrollable" [scrollHeight]="tableScrollHeight"
         >
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="updated" class="updated-col center" pTooltip="Last Updated">
        @if (useDial) {
          <span class="pi pi-refresh header-refresh" (click)="refreshThings()" pTooltip="Refresh">&nbsp;</span>
        }
        <p-sortIcon field="updated" class="updated-col-sort"/>
      </th>
      <th pSortableColumn="name" class="name-col">
        {{ getNameColumnHeader() }} <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="templateType" class="type-col">Type <p-sortIcon field="templateType" /></th>
      <th pSortableColumn="time" class="time-col">Date <p-sortIcon field="time" /></th>
      <th pSortableColumn="fieldsAsString" class="fields-col">
        Fields
        <p-sortIcon field="fields" />
      </th>
      <th class="control-col">
        <div class="fright">
          <span class="hide-on-mobile limit-text">Limit:&nbsp;</span>
          <p-dropdown id="limitDate"
                      [options]="limitDateOptions"
                      [(ngModel)]="limitDate"
                      (ngModelChange)="changeLimitDate()"
                      placeholder="Limit by Date"
                      appendTo="body"/>
        </div>
      </th>
      <th class="control-col">
        <span (click)="clearSelectedRows()" [style.cursor]="'pointer'"
              pTooltip="Click to deselect all" tooltipPosition="bottom">
          {{ rowSelectedCount() }} Sel<span class="hide-on-mobile">ected Rows</span>
          @if (hasSelectedRows()) {
            <span class="pi pi-ban header-tiny-button header-tiny-button-color header-clear-rows-button"></span>
          }
        </span>
        &nbsp;
        @if (!showFilters) {
          <span class="pi pi-filter header-tiny-button header-tiny-button-color" (click)="toggleShowFilters()" pTooltip="Show Filters"></span>
        }
        @else {
          <span class="pi pi-filter-slash header-tiny-button header-tiny-button-color" (click)="toggleShowFilters()" pTooltip="Hide Filters"></span>
        }
      </th>
    </tr>
    @if (showFilters) {
      <tr>
        <th colspan="2"><p-columnFilter type="text" field="name" matchMode="contains" /></th>
        <th><p-columnFilter type="text" field="templateType" matchMode="contains" /></th>
        <!-- TODO Could add a custom filter option of "Reminder=true/false" for the time column. Then can remove 'reminder' from supported global search fields on the table -->
        <th><p-columnFilter type="date" field="time" appendTo="body" /></th>
        <th colspan="3">
          <input pInputText type="text" (change)="filterFields($event)" class="header-filter-field" />
        </th>
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr [pSelectableRow]="data" [pSelectableRowIndex]="rowIndex" (touchstart)="rowTouchStart(data)" (touchend)="rowTouchEnd(data)">
      <td class="updated-col-cell" pTooltip="{{data.updated | date: 'medium'}}">
        {{ data.getUpdated() }}
      </td>
      <td>
        <span [style]="'color:' + data.color">
          @if (isFavoriteByName(data.name)) {
            <span class="pi pi-heart-fill" style="font-size: 0.75rem"></span>
          }
          {{ data.name }}
          @if (data.gallery) {
            &nbsp;<span class="pi pi-images" [pTooltip]="'Thing has ' + data.uploads.length + ' attachment item(s)'"></span>
          }
        </span>
      </td>
      <td>
        <span [style]="'color:' + data.color" (click)="clickTemplateColumn(data)">
          {{ data.templateType }}
          @if (data.public) {
            &nbsp;<span class="pi pi-globe" pTooltip="Thing is Public - click to copy the shareable link"></span>
            @if (hasViewCount(data)) {
              <span class="updated-col-cell">{{ data.viewCount }} views</span>
            }
          }
        </span>
      </td>
      <td class="time-col-td">
        <span [style]="'color:' + data.color" [pTooltip]="'Day of week: ' + (data.time | date: 'EEEE')">
          {{ data.time | date: 'MMM dd/yy hh:mm a' }}
          @if (data.hasFutureReminder() || things.isOverdueReminder(data)) {
            <div class="center">
              <span class="pi pi-clock" pTooltip="Thing is a Reminder"></span>
            </div>
          }
        </span>
      </td>
      <td colspan="3" (click)="quickviewFields(data, $event)" [class]="data.hasFieldsAsString() ? 'quickview-zoom' : ''">
        <div class="fields-scroller" [innerHTML]="data.fieldsAsString"></div>
      </td>
    </tr>
  </ng-template>
  @if (!things.loading) {
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td colspan="7" [class]="getEmptyMessageClass()">
          No data matches your search or filters
          <!-- TODO Componentize the Limit dropdown and put here on mobile, plus maybe a "Reset Search" button? -->
        </td>
      </tr>
    </ng-template>
  }
</p-table>
}

@if (!things.loadedAndHasData()) {
  <div class="no-things-wrap">
    @if (!things.loading) {
      <p>Welcome to <b>Remember It Wholesale</b>&nbsp;<a href="https://en.wikipedia.org/wiki/We_Can_Remember_It_for_You_Wholesale" target="_blank"><span class="pi pi-external-link"></span></a></p>
      <div class="small">
        <p>The purpose of this app is to turn your life into usable data, in any arbitrary form you want.</p>
        <p>You can store Things of milestones, reminders, goals, events, memories, and more.</p>
      </div>
      <hr/>
      <p>Add something to get started</p>
      @if (useDial) {
        <p-button (onClick)="manageThing.showAdd()" icon="pi pi-plus-circle" label="New Thing" />
      }
    }
  </div>
}

</div>

<riw-manage-thing-dialog #manageThing (manageTemplateEvent)="manageTemplate.show($event)"
                         (onDelete)="confirmDeleteSelected($event.event)"
                         (onEdit)="doneEditThing($event)"/>
<riw-manage-template-dialog #manageTemplate />
<riw-global-search-dialog #globalSearch [searchFunction]="globalFilterTable.bind(this)"/>
<riw-user-profile-dialog #userProfile (onDialChanged)="dialChanged($event)"/>
<riw-quick-view-fields-dialog #quickviewFieldsDialog
                              (onDelete)="confirmDeleteSelected($event.event, true)"/>

<p-confirmPopup key="inline" />
<p-confirmDialog key="dialog"/>
@if (templateService.favorite && templateService.hasFavorite()) {
  <p-confirmDialog #favoriteConfirmDialog key="favorite" class="favorite-dialog">
    <ng-template pTemplate="header">
      <span class="p-dialog-title" [style.color]="templateService.favorite.color">Favorite - {{templateService.favorite.name}}</span>
    </ng-template>
    <ng-template pTemplate="message">
      @if (!templateService.favorite.hasFields()) {
        <h2>No additional fields to fill in</h2>
      }
      @else {
        <!-- TODO - Need to componentize the custom field rendering and not repeat it both here and in Manage Thing dialog. Note styling needs to come over too (ie: radio buttons are different) -->
        @for (field of templateService.favorite.fields; track field.property) {
          <div class="favorite-section">
            <label [htmlFor]="field.property">
              {{ field.getLabel() }}
              @if (field.type === fieldTypes.Markdown) {
                <div class="md-note inline">&nbsp;(Markdown)</div>
              }
            </label>
            @if (field.type === fieldTypes.Text || field.type === fieldTypes.Number) {
              <input [id]="field.property" pInputText [type]="field.type" [required]="field.required || false" [(ngModel)]="field.value"
                     (keyup.enter)="templateService.favorite.hasOneField() && favoriteConfirmDialog.accept()"/>
            }
            @else if (field.type === fieldTypes.Textarea || field.type === fieldTypes.Markdown) {
              <textarea [id]="field.property" rows="3" [autoResize]="true" pInputTextarea
                        (keydown.control.enter)="templateService.favorite.hasOneField() && favoriteConfirmDialog.accept()"
                        [(ngModel)]="field.value" [required]="field.required || false" class="our-textarea">MD</textarea>
            }
            @else if (field.type === fieldTypes.Radio) {
              <div [id]="field.property">
                @for (option of field.options; track $index) {
                  <p-radioButton [value]="option" [(ngModel)]="field.value" [inputId]="'option' + $index" [required]="field.required || false"
                                (ngModelChange)="templateService.favorite.hasOneField() && favoriteConfirmDialog.accept()" />
                  <label [for]="'option' + $index"> {{option}}</label>
                }
              </div>
            }
            @else if (field.type === fieldTypes.Chooser) {
              <p-button (onClick)="field.handleRandomChooser(field); (templateService.favorite.hasOneField() && favoriteConfirmDialog.accept());"
                        icon="pi pi-bolt" [label]="'Randomly choose from ' + field.options?.length + ' options'"/>
            }
            @else if (field.type === fieldTypes.Boolean) {
              <p-triStateCheckbox [id]="field.property" [(ngModel)]="field.value" [required]="field.required || false" />
            }
            @else if (field.type === fieldTypes.Dropdown) {
              <p-dropdown [id]="field.property" [(ngModel)]="field.value"
                          [options]="field.options"
                          [required]="field.required || false"
                          (ngModelChange)="(field.value && templateService.favorite.hasOneField()) && favoriteConfirmDialog.accept()"
                          class="consistent-field" appendTo="body"/>
            }
            @else if (field.type === fieldTypes.Date || field.type === fieldTypes.Datetime) {
              <p-calendar [id]="field.property" [(ngModel)]="field.value" dataType="string"
                          (ngModelChange)="templateService.favorite.hasOneField() && favoriteConfirmDialog.accept()"
                          [required]="field.required || false"
                          [showTime]="field.type === fieldTypes.Datetime" [showIcon]="true"
                          hourFormat="12" [stepMinute]="5"
                          [hideOnDateTimeSelect]="field.type === fieldTypes.Date"
                          [tabindex]="-1"
                          class="consistent-field" appendTo="body" ></p-calendar>
            }
          </div>
        }
      }
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button (onClick)="favoriteConfirmDialog.reject()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
      <p-button (onClick)="favoriteConfirmDialog.accept()" label="Save" icon="pi pi-check" iconPos="left"/>
    </ng-template>
  </p-confirmDialog>
}
