/* Wrap a pair of messages to each line */
.p-message {
  cursor: pointer;
  display: inline-block;
  width: calc(50% - 10px);
  vertical-align: middle;
  margin: 5px;
}

@media (max-width: 850px) {  /* var(--mobile-breakpoint) equivalent, just can't use in media queries */
  .p-message {
    width: 100%;
  }
}