<!-- Basically duplicate the styling of the p-messages component, but with built in styling/icons and formatting specifically for Reminders -->
<div [class]="'p-message p-message-' + determineType()" (click)="clickReminder()">
  <div class="p-message-wrapper">
    <span class="p-message-icon">
      @if (determineType() === 'info') {
        <span class="pi pi-calendar"></span>
      }
      @else if (determineType() === 'warn') {
        <span class="pi pi-clock"></span>
      }
      @else if (determineType() === 'error') {
        <span class="pi pi-bell"></span>
      }
      @else if (determineType() === 'success') {
        <span class="pi pi-calendar-minus"></span>
      }
    </span>
    <span class="p-message-summary">
      @if (overdue) {
        <span class="subtext">MISSED -</span>
      }
      {{thing.name}}
      @if (overdue) {
        {{relativeDate()}}
      }
      @else {
        {{distanceDate()}} ({{relativeDate()}})
      }
    </span>
    <span class="p-message-detail">
      {{thing.templateType}}{{thing.hasFields() ? ',' : ''}} {{thing.fieldsAsString}}
    </span>
  </div>
</div>