<!-- Basically duplicate the styling of the p-messages component, but with built in styling/icons and formatting specifically for Reminders -->
<div [class]="'p-message p-message-' + determineType()" (click)="clickReminder()">
  <div class="p-message-wrapper">
    <span class="p-message-icon">
      <span class="pi pi-calendar" *ngIf="determineType() === 'info'"></span>
      <span class="pi pi-clock" *ngIf="determineType() === 'warn'"></span>
      <span class="pi pi-bell" *ngIf="determineType() === 'error'"></span>
      <span class="pi pi-calendar-minus" *ngIf="determineType() === 'success'"></span>
    </span>
    <span class="p-message-summary">
      <span *ngIf="overdue" class="subtext">MISSED -</span>
      {{thing.name}}
      <span *ngIf="!overdue"> {{distanceDate()}} ({{relativeDate()}})</span>
      <span *ngIf="overdue"> {{relativeDate()}}</span>
    </span>
    <span class="p-message-detail">{{thing.templateType}}<span *ngIf="thing.hasFields()">,</span> {{thing.getFieldsAsString()}}</span>
  </div>
</div>