<!-- Basically duplicate the styling of the p-messages component, but with built in styling/icons and formatting specifically for Reminders -->
<div [class]="'p-message p-message-' + determineType()" (click)="clickReminder()">
  <div class="p-message-wrapper">
    <span class="p-message-icon">
      <span class="pi pi-calendar" *ngIf="determineType() === 'info'"></span>
      <span class="pi pi-clock" *ngIf="determineType() === 'warn'"></span>
      <span class="pi pi-bell" *ngIf="determineType() === 'error'"></span>
    </span>
    <span class="p-message-summary">{{thing.name}} in {{distanceDate()}} ({{relativeDate()}})</span>
    <span class="p-message-detail">{{thing.templateType}} {{thing.getFieldsAsString()}}</span>
  </div>
</div>