@if (!authService.getAuth().processingCheckedStorage) {
<div class="login-wrap">
  <riw-typing-header text="Remember It Wholesale" [maxEffectCount]="10"></riw-typing-header>
  
  <div class="fieldset-wrap">
    <p-fieldset legend="Login">
      <div class="fieldset-inner">
        <div class="field-wrap">
          <span class="p-input-icon-right full-length">
            <input #usernameIn
                  pInputText id="username" type="text" required="true"
                  placeholder="Username"
                  autocomplete="username" autocorrect="off" autocapitalize="off" autofocus="true"
                  [(ngModel)]="authService.getAuth().username"
                  (keyup.enter)="submitLogin()" />
            <i class="pi pi-times pointer" (click)="resetField(usernameIn)">&nbsp;</i>
          </span>
        </div>
        <div class="terminal-image-wrap" (click)="submitLogin()">
          @if (processing) {
            <p-progressSpinner class="login-spinner" />
          }
          @else {
            <img src="assets/images/simple-terminal.png" class="terminal-image shine-image"/>
          }
        </div>
        <div class="field-wrap">
          <span class="p-input-icon-right full-length">
            <input #passwordIn
                  pInputText id="password" type="password" required="true"
                  placeholder="Password"
                  autocomplete="current-password" autocorrect="off" autocapitalize="off"
                  [(ngModel)]="password"
                  (keyup.enter)="submitLogin()" />
            <i class="pi pi-times pointer" (click)="resetField(passwordIn)">&nbsp;</i>
          </span>
        </div>
      </div>
      <div class="save-login-wrap">
        <p-checkbox [(ngModel)]="saveLogin" [binary]="true" label="Save Login" />
      </div>
    </p-fieldset>
  </div>
</div>
}