<!-- TTODO -->

<div *ngIf="!loading"
     class="header"
     [style.background]="'linear-gradient(90deg, rgb(0, 0, 0) 10%, ' + (thing ? thing.color : 'var(--primary-color)') + ' 100%)'"
     [style.border]="'1px solid ' + (thing ? thing.color : 'var(--primary-color)')">
  <div class="left">
    @if (thing) {
      @if (!isMobileSize()) {
        RIW |
      }
      {{thing.name}}
    }
    @else {
      Remember It Wholesale
    }
    @if (!isMobileSize()) {
      -&nbsp;
    }
    <span class="header-sub">
      @if (thing) {
        @if (!isMobileSize()) {
          Updated
        }
        @else {
          &nbsp;
        }
        {{thing.getUpdated(!isMobileSize())}}
      }
      @else {
        Failed to Load
      }
    </span>
  </div>
  @if (authService && authService.getAuth()) {
    <div class="right">
      @if (authService.getAuth().isLoggedIn) {
        <p-button (onClick)="navigateToLogin()" icon="pi pi-home" pTooltip="You are logged in - go to the main home page" severity="warning"/>
      }
      @else {
        <p-button (onClick)="navigateToLogin()" icon="pi pi-unlock" pTooltip="Login to the main app" severity="warning"/>
      }
    </div>
  }
</div>
<p-progressBar [mode]="loading ? 'indeterminate' : 'determinate'" class="loading-bar" />

@if (hasError) {
  <div class="main-error">
    <i class="pi pi-exclamation-triangle"></i>
    <br/>
    Failed to load public link<br/>
    <span class="smaller">Contact whoever gave it to you</span>
  </div>
}
@else if (!loading) {
  <div class="main-wrap">
    <div class="panel-wrap">
      <!-- Note that instead of using a package like sanitize-html we just rely on the built-in Angular DOMSanitizer to prevent XSS -->
      <span [innerHTML]="thing?.fieldsAsString"></span>
    </div>
  </div>
}