<p-dialog header="Request New Account" [(visible)]="isShowing" [modal]="true" [maximizable]="true">

  <p>
    Enter the username you want<br/>and an email I can reach you at<br/>(not stored anywhere), and I'll<br/> create your account and let you know.<br/>
  </p>
  
  <div class="dialog-items">
    <div>
      <input pInputText autofocus [(ngModel)]="username" placeholder="Desired Username" [required]="true" class="consistent-field" (keyup.enter)="submit()"/>
    </div>
    
    <div>
      <input id="emailField" pInputText type="email" [(ngModel)]="email" placeholder="Your Email" [required]="true" [email]="true" class="consistent-field" (keyup.enter)="submit()"/>
    </div>
    
    <div>
      <textarea pInputTextarea [(ngModel)]="note" placeholder="Optional Note" class="consistent-field" [rows]="3"></textarea>
    </div>
  </div>
  
  <ng-template pTemplate="footer">
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submit()" label="Send Request" icon="pi pi-check" iconPos="left" [loading]="processing"/>
  </ng-template>
</p-dialog>
