/* Define some PrimeNG specific variables */
:root {
  --table-paginator-height: 70px;
  --bg-primary: #071426;
}

/* Make our top loading bar narrower, speed it up slightly, and make sure we stay above the toolbar */
.loading-bar .p-progressbar {
  height: var(--progress-bar-height);
  border-radius: 0;
  background-color: black;
  z-index: 10;
}
.loading-bar .p-progressbar .p-progressbar-value::before {
  animation-duration: 1.8s;
}

/* Size our progress spinner to fit well in the toolbar */
.p-progress-spinner {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-left: 10px;
}
.p-progress-spinner-circle {
  stroke-width: 8;
}
.login-spinner .p-progress-spinner {
  width: 60px; /* Little janky, but the spinner has some extra padding for it's animation, so to get 70px we need 60px */
  height: 70px;
}

/* Make the current day more noticeable in the calendar */
.p-datepicker-today span {
  font-weight: bold;
  font-size: 22px;
}

/* With all the headers and pagination we want a minimum number of viable rows to be shown */
.p-datatable .p-datatable-wrapper {
  min-height: 300px;
}

/* Preset paginator height so it's easier to calculate our table scroll */
.p-paginator {
  height: var(--table-paginator-height);
}

/* Slightly narrower headers */
.p-datatable .p-datatable-thead > tr > th:not(.p-sortable-column) {
  padding: 10px;
}
.p-datatable .p-datatable-thead > tr > th.p-sortable-column {
  padding: 15px;
}

/* Icon buttons have their width overwritten in the footer of a dialog, so manually revert to the base icon button size */
.p-dialog .p-dialog-footer .p-button-icon-only {
  width: 3rem;
}

/* Match our custom Fields filter input to the others */
p-columnfilterformelement .p-inputtext {
  height: 30px;
}

/* Use a bigger width for the menu on the Reminders split button*/
.p-tieredmenu {
  width: 200%;
}

/* Setup a max width so a lot of chips will automatically wrap to multiline */
.p-chips-multiple-container {
  max-width: 750px;
}

/* Let the auto-resizing text area scroll properly */
.p-inputtextarea {
  overflow-y: auto !important;
}

/* Consistent width on the manage template dialog submit buttons */
.template-submit-button .p-button {
  width: 230px !important;
}

/* Ensure the dialogs size nicely to the page, regardless of view and content */
.manage-thing-dialog .p-dialog,
.manage-template-dialog .p-dialog,
.user-profile-dialog .p-dialog {
  min-width: 50vw;
  height: 90vh;
}
.manage-template-dialog .p-dialog {
  width: 1200px; /* Stop the view from jumping when going between template operations */
}
.p-dialog,
.p-confirm-dialog {
  max-width: 95vw;
}
/* Unless of course we are maximized, in which case have no max width */
.p-dialog-maximized {
  max-width: 100% !important;
}

/* Put a bit of a gap between the label and the checkbox */
.checkbox-label-on-left .p-checkbox {
  margin-left: 8px;
}

/* Ensure the toast messages don't wrap outside a mobile screen */
.p-toast {
  max-width: 90vw;
}

/* To stop some dialogs (mainly manage template) from jumping as the content changes we just scroll all the time */
.p-dialog-content {
  overflow-y: scroll;
}

/* Size our various inputs to a consistent minimum width */
.consistent-field .p-dropdown,
.consistent-field .p-calendar input,
.consistent-field .p-autocomplete input {
  width: var(--standard-field-width);
}

/* Also size a shorter version for widths */
.short-field > .p-dropdown,
.short-field .p-calendar input,
.short-field .p-autocomplete input,
.short-field input {
  width: 150px;
}

/* Center our fieldset legend headers */
.p-fieldset-legend {
  margin-left: auto;
  margin-right: auto;
}

/* Stop the default style of having links flex */
.p-fieldset-legend > a {
  display: inline;
}

/* The native p-chips X was having problems firing, so just hide it */
.p-chips-token-icon {
  display: none;
}

/* Wrap a pair of messages to each line */
.p-message {
  cursor: pointer;
  display: inline-block;
  width: calc(50% - 10px);
  vertical-align: middle;
  margin: 5px;
}

@media (max-width: 850px) { /* var(--mobile-breakpoint) equivalent, just can't use in media queries */
  .hide-on-mobile {
    display: none;
  }
  
  /* Less precious whitespace wasted on content padding on dialogs */
  .p-dialog-content {
    overflow-y: auto;
  }
  .p-dialog .p-dialog-content {
    padding: 10px;
  }
  .manage-thing-dialog .p-dialog .p-dialog-content {
    padding: 0;
  }
  
  /* Calculate for margin/padding */
  .p-message {
    width: calc(100% - 10px);
  }
  
  /* For spacing considerations hide the text on footer buttons. Icons should be clear enough */
  .p-dialog .p-dialog-footer .p-button-label {
    display: none;
  }
  .p-dialog .p-dialog-footer .p-button .p-button-icon-left {
    margin-right: 0;
  }
  
  .p-dialog-header {
    padding: 15px 15px 0 15px;
  }
  
  /* Leave the icon buttons as auto on mobile for manage template */
  .template-submit-button .p-button {
    width: auto !important;
  }
  
  /* Don't force a nearly full height like we do on desktop, primarily for the floating mobile keyboard */
  .manage-thing-dialog .p-dialog,
  .manage-template-dialog .p-dialog {
    height: auto;
  }
  
  .content-form {
    margin-top: 0 !important;
  }
}
