.main-wrap {
  margin-top: var(--fixed-toolbar-height);
  padding: 10px;
}

.thing-table {
  min-width: 50rem;
  --name-col-width: 350px;
  --time-col-width: 250px;
  --type-col-width: 300px;
  --name-col-width: 350px;
}

.p-toolbar-group-start p-button {
  margin-right: 10px;
}

.name-col, .time-col, .type-col {
  min-width: 250px;
}

.name-col {
  width: var(--name-col-width);
}

.time-col {
  width: var(--time-col-width);
}

.type-col {
  width: var(--type-col-width);
}

.fields-col {
  width: calc(100% - var(--name-col-width) - var(--time-col-width) - var(--type-col-width));
}