.main-wrap {
  padding: 10px;
}

.thing-table {
  min-width: 50rem;
}

.button-row {
  padding-bottom: 10px;
}

.button-row p-button {
  margin-right: 5px;
}

.button-row .float-right {
  float: right;
}