<p-progressBar [mode]="things.loading ? 'indeterminate' : 'determinate'" class="loading-bar" />
<riw-global-toast />

<div class="main-wrap">

<div class="button-row">
  <!-- TODO Edit a single selected row, try to leverage existing New Thing dialog? -->
  <p-button (onClick)="things.getAllThings()" icon="pi pi-refresh" [loading]="things.loading" severity="info" />
  <p-button (onClick)="addNew.show()" icon="pi pi-plus-circle" label="New Thing" />
  <p-button (onClick)="manageTemplate.show()" icon="pi pi-list" label="Manage Templates" />
  <p-button (onClick)="confirmDeleteSelected($event)" icon="pi pi-trash" [label]="getDeleteLabel()" [disabled]="!hasSelectedRows()" />
  <p-confirmPopup />
  <p-progressSpinner *ngIf="things.loading" />
</div>
<riw-add-new-dialog #addNew (manageTemplateEvent)="manageTemplate.show($event)" />
<riw-manage-template-dialog #manageTemplate />

<!-- TODO Add sorting, filtering, etc. -->
<p-table [value]="things.data" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }"
         selectionMode="multiple" [(selection)]="selectedRows">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Type</th>
      <th>Fields</th>
    </tr>
  </ng-template>
  <!-- TODO Style width of columns as we fill them out -->
  <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr [pSelectableRow]="data" [pSelectableRowIndex]="rowIndex">
      <td>{{ data.name }}</td>
      <td>{{ data.time | date: 'medium' }}</td>
      <td>{{ data.templateType }}</td>
      <td>{{ data.getFieldsAsString() }}</td>
    </tr>
  </ng-template>
  <ng-template *ngIf="!things.loading" pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="4" class="center">
        No data found yet
      </td>
    </tr>
  </ng-template>
</p-table>
</div>