<p-button (onClick)="getData()" label="Test Get" severity="help"/>
&nbsp;
<p-button (onClick)="submitData()" label="Test Submit" severity="help"/>
<br /><hr />
<p-button (onClick)="toggleAddNewDialog()" label="Add New"/>

<p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.time | date: 'medium' }}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Header" [(visible)]="showAddNew" [modal]="true" [maximizable]="true" [style]="{width: '50vw'}"
          (onShow)="handleFocus($event, nameField)">
  <br/><br/>
  <span class="p-float-label">
    <input id="name" #nameField pInputText [(ngModel)]="nameIn" />
    <label htmlFor="name">Name</label>
  </span>
  <ng-template pTemplate="footer">
    <p-button (onClick)="toggleAddNewDialog()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submitAddNew()" label="Save Thing" icon="pi pi-check" iconPos="left"/>
  </ng-template>
</p-dialog>