.main-wrap {
  padding: 10px;
}

.thing-table {
  min-width: 50rem;
}

.button-row {
  padding-bottom: 10px;
}

.button-row p-button {
  margin-right: 10px;
}

.button-row .float-right {
  float: right;
}

.name-col, .time-col, .type-col {
  min-width: 250px;
}

.name-col {
  width: 350px;
}

.time-col {
  width: 250px;
}

.type-col {
  width: 300px;
}

.fields-col {
  width: calc(100% - 350px - 300px - 500px);
}