<p-button (onClick)="things.getData()" label="Test Get" severity="help"/>
&nbsp;
<p-button (onClick)="things.submitData()" label="Test Submit" severity="help"/>
<br /><hr />
<p-button (onClick)="addNew.toggleAddNewDialog()" label="Add New"/>
<add-new-dialog #addNew/>

<p-table [value]="things.data" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.time | date: 'medium' }}</td>
    </tr>
  </ng-template>
</p-table>
