<p-autoComplete #ourDropdown
                placeholder="Select a Template"
                [(ngModel)]="selectedTemplateName"
                [dropdown]="true"
                appendTo="body"
                optionLabel="name"
                [showEmptyMessage]="true"
                [delay]="0"
                emptyMessage="> No matches"
                [suggestions]="filteredData"
                (completeMethod)="autocompleteData($event)"
                (onDropdownClick)="selectDropdownText()"
                (click)="selectDropdownText()"
                (ngModelChange)="selectedTemplateChanged()"
                class="consistent-field">
  <ng-template let-template pTemplate="item">
    <span [style.color]="templateService.getColorByTemplateName(template.name)">{{template.name}}</span>
  </ng-template>
</p-autoComplete>

@if (!hideControls) {
  @if (isMobileSize()) {
    <br/>
  }
  @else {
    &nbsp;
  }
  <p-button (onClick)="requestCreateTemplate()" icon="pi pi-calendar-plus" [rounded]="true" severity="success" pTooltip="Create a new Template" [tabindex]="-1" />
  @if (selectedTemplateName && !getSelectedTemplate()?.isDefault) {
    &nbsp;
    @if (!!getSelectedTemplate()) {
      <p-button (onClick)="requestDeleteTemplate()" icon="pi pi-calendar-times" [rounded]="true" severity="danger" pTooltip="Delete this Template" [tabindex]="-1" />
    }
  }
}