<p-dialog header="Global Search" [(visible)]="isShowing" [modal]="false" class="global-search-dialog"
          (onShow)="handleFocus(searchField)" (onHide)="resetOnHide()">
  @if (isShowing && resultCount !== null) {
    <div class="center result-text">{{resultCount | number}} records</div>
  }
  <input id="search" #searchField pInputText [(ngModel)]="searchText" (keyup.enter)="performSearch()" placeholder="Enter your keywords"/>
  <ng-template pTemplate="footer">
    <p-button (onClick)="performReset()" label="Reset" icon="pi pi-delete-left" iconPos="left" severity="secondary"/>
    <p-button (onClick)="performSearch()" label="Search" icon="pi pi-check" iconPos="left"/>
  </ng-template>
</p-dialog>
