<p-dialog #manageThingDialog
          [header]="(isAdd() ? 'Add New' : 'Edit') + ' Thing'" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="manage-thing-dialog"
          [focusOnShow]="false" (onShow)="handleFocus(nameField)">
  <div class="content-form">

    <table cellpadding="10" class="thing-in-table">
      <tr>
        <td colspan="2" class="type-col">
          <p-checkbox [(ngModel)]="actOn.public" [binary]="true" [label]="(isMobileSize() ? '' : ' 🌐 ') + 'Public'"
                      (onChange)="publicCheckboxChanged()"
                      pTooltip="Make this Thing public and generate a shareable link that can be given to anyone to view just this Thing, without needing a login" showDelay="750" />
          <p-checkbox [(ngModel)]="actOn.gallery" [binary]="true" [label]="(isMobileSize() ? '' : ' 🖼 ') + 'Attachments'"
                      pTooltip="Make this Thing include attachments of uploaded images and files" showDelay="750" />
          <p-checkbox [(ngModel)]="actOn.reminder" [binary]="true" [label]="(isMobileSize() ? '' : ' 🕒 ') + 'Reminder'"
                      (onChange)="reminderCheckboxChanged()"
                      pTooltip="Make this Thing a reminder that will display time left and notify you when due" showDelay="750" />
        </td>
      </tr>
      <tr>
        <td class="hide-on-mobile">
          <label htmlFor="name">Name</label>
        </td>
        <td>
            <input id="name" #nameField pInputText [(ngModel)]="actOn.name" (keyup.enter)="submit()" [placeholder]="isMobileSize() ? 'Name' : ''"/>
        </td>
      </tr>
      <tr>
        <td class="hide-on-mobile">
          Template
        </td>
        <td>
          <riw-template-dropdown #templateDropdown
                                [(selectedTemplateName)]="selectedTemplateName"
                                (selectedTemplateNameChange)="templateNameChanged($event)"
                                (manageTemplateEvent)="handleTemplateEvent($event)"/>
        </td>
      </tr>
      <tr>
        <td class="hide-on-mobile">
          <label htmlFor="time">Date</label>
        </td>
        <td>
          <p-calendar id="time" [(ngModel)]="actOn.time"
                      [showTime]="true" [showIcon]="true"
                      hourFormat="12" [stepMinute]="5"
                      [hideOnDateTimeSelect]="false"
                      [tabindex]="-1"
                      class="consistent-field" appendTo="body" ></p-calendar>
        </td>
      </tr>
      @if (actOn.gallery) {
        <tr>
          <td colspan="2">
            <p-panel [toggleable]="true" class="no-panel-pad">
              <ng-template pTemplate="header">
                @if (uploadLoading) {
                  <b>Processing {{uploadProgress()}} of {{uploadTotal()}} Uploads...</b>
                  <p-progressSpinner />
                }
                @else {
                  <b>Attachments</b>
                  @if (hasUploads()) {
                    &nbsp;({{currentAttachmentCount()}})
                  }
                }
              </ng-template>
              @if (uploadLoading) {
                <p-progressBar [value]="uploadProgress() / uploadTotal() * 100.0">
                  <ng-template pTemplate="content" />
                </p-progressBar>
              }
              @else {
                <div [class]="'drop-area ' + (dropHighlight ? 'drop-highlight' : '')"
                    (dragenter)="handleDragEnter($event)"
                    (dragleave)="handleDragLeave($event)"
                    (dragover)="$event.preventDefault()"
                    (drop)="handleDraggedFiles($event)"
                    >
                  <span class="text-label">
                    <i class="pi pi-folder-open"></i> Drag and drop files here or use the buttons to add attachments
                  </span>
                  <p-button label="Upload Files" size="small" severity="help" (onClick)="fileUpload.click()"/>
                  <p-button label="Upload Images" size="small" severity="help" (onClick)="imageUpload.click()"/>
                  @if (isMobileSize()) {
                    <div style="padding-top: 5px;">
                      <p-button icon="pi pi-camera" label="Take Photo" size="small" severity="help" (onClick)="captureUpload.click()"/>
                    </div>
                  }
                  
                  <input #fileUpload [style.display]="'none'"
                         type="file" multiple (change)="handleDraggedFiles($event)" />
                  <input #imageUpload [style.display]="'none'"
                         type="file" multiple (change)="handleDraggedFiles($event)"
                         accept="image/*" />
                  <!-- TODO Does this reliably work on various devices, or is it not worth including? -->
                  <input #captureUpload [style.display]="'none'" capture="environment"
                         type="file" accept="image/*" />
                  
                  @if (hasUploads()) {
                    <div class="upload-remove-note">(Click any file or image to remove upload)</div>
                  }
                </div>
                
                <div class="upload-results">
                  <div class="upload-files">
                    @for (upload of getUploadListOfFiles(); track $index) {
                      @if (upload.data) {
                        <span class="upload-item-wrap">
                          <p-chip (click)="removeUpload(upload, uploadList)" class="upload-item"
                                  title="Click to remove this file" [style.position]="'relative'">
                            {{upload.data}}
                          </p-chip>
                          <span class="upload-new upload-new-title">New</span>
                        </span>
                      }
                      @else if (upload.name && actOn.uploads) {
                        <p-chip (click)="removeUpload(upload, actOn.uploads)" class="upload-item"
                                title="Click to remove this file">{{upload.name}}</p-chip>
                      }
                    }
                  </div>
                  @for (upload of getUploadListOfImages(); track $index) {
                    @if (upload.data) {
                      <span class="upload-item-wrap">
                        <img (click)="removeUpload(upload, uploadList)" class="upload-item"
                            [src]="upload.data"
                            title="Click to remove this image"/>
                        <span class="upload-new">New</span>
                      </span>
                    }
                    @else if (upload.url && actOn.uploads) {
                      <img (click)="removeUpload(upload, actOn.uploads)" class="upload-item"
                          [src]="makeFullAttachmentURL(upload.url)"
                          [title]="'Click to remove: ' + upload.name"
                          [style.maxWidth]="imageMaxWidth + 'px'"
                          [style.maxHeight]="imageMaxHeight + 'px'" />
                    }
                  }
                </div>
              }
            </p-panel>
          </td>
        </tr>
      }
      @for (field of selectedTemplate?.fields; track field.property) {
        <tr>
          <td class="hide-on-mobile">
            <label [htmlFor]="field.property">
              {{ field.getLabel() }}
              @if (field.type === fieldTypes.Markdown) {
                <div class="md-note">(Markdown)</div>
              }
            </label>
          </td>
          <td>
            <label [htmlFor]="field.property" class="field-label hide-on-desktop">
              <b>{{ field.getLabel() }}</b>
              @if (field.type === fieldTypes.Markdown) {
                <div class="md-note inline">&nbsp;(Markdown)</div>
              }
            </label>
            
            <!-- TODO Do we need any other field types for Things? Photos? Slider? Ongoing/Routine (aka infinite fields so you can keep adding to the same thing without flooding the table) -->
            @if (field.type === fieldTypes.Text || field.type === fieldTypes.Number) {
              <input [id]="field.property" pInputText [type]="field.type" [required]="field.required || false" (keyup.enter)="submit()" [(ngModel)]="field.value"/>
            }
            @else if (field.type === fieldTypes.Textarea || field.type === fieldTypes.Markdown) {
              <textarea [id]="field.property" [rows]="3" [autoResize]="true" pInputTextarea
                        (keydown.control.enter)="submit()"
                        [(ngModel)]="field.value" [required]="field.required || false" class="our-textarea"></textarea>
            }
            @else if (field.type === fieldTypes.Radio) {
              <div [id]="field.property">
                @for (option of field.options; track $index) {
                  <p-radioButton [value]="option" [(ngModel)]="field.value" [inputId]="'option' + $index" [required]="field.required || false" />
                  <label [for]="'option' + $index"> {{option}}</label>
                }
              </div>
            }
            @else if (field.type === fieldTypes.Chooser) {
              @if (field.value) {
                <p-button (onClick)="field.handleRandomChooser(field)" [rounded]="true" icon="pi pi-bolt" pTooltip="Choose again" class="fleft"/>
                <span class="chooser-result">{{field.value}}</span>
              }
              @else {
                <p-button (onClick)="field.handleRandomChooser(field)" icon="pi pi-bolt" [label]="'Randomly choose from ' + field.options?.length + ' options'"/>
              }
            }
            @else if (field.type === fieldTypes.Boolean) {
              <p-triStateCheckbox [id]="field.property" [(ngModel)]="field.value" [required]="field.required || false" />
            }
            @else if (field.type === fieldTypes.Dropdown) {
              <p-dropdown [id]="field.property" [(ngModel)]="field.value"
                          [options]="field.options"
                          [required]="field.required || false"
                          class="consistent-field" appendTo="body"/>
            }
            @else if (field.type === fieldTypes.Date || field.type === fieldTypes.Datetime) {
              <p-calendar [id]="field.property" [(ngModel)]="field.value" dataType="string"
                          [required]="field.required || false"
                          [showTime]="field.type === fieldTypes.Datetime" [showIcon]="true"
                          hourFormat="12" [stepMinute]="5"
                          [hideOnDateTimeSelect]="field.type === fieldTypes.Date"
                          [tabindex]="-1"
                          class="consistent-field" appendTo="body" ></p-calendar>
            }
          </td>
        </tr>
      }
    </table>
  </div>
  
  <ng-template pTemplate="footer">
    @if (isEdit()) {
      <p-button (onClick)="handleDeleteThing($event)"
                icon="pi pi-trash" [rounded]="true" severity="danger" pTooltip="Delete this Thing" class="fleft"/>
    }
    @if (actOn.public && actOn.updated) {
      <div class="fleft share-text">
        <i class="pi pi-share-alt"></i>
        &nbsp;Share:&nbsp;
        <input pInputText [value]="actOn.generatePublicLink()" readonly="true" (click)="clickPublicLink($event)" style="cursor: copy;"/>
      </div>
    }
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button #submitButton (onClick)="submit()" [label]="(hasNewUploads() ? ('Upload ' + uploadList.length + ' Files and ') : '') + 'Save Thing'"
              [icon]="'pi pi-' + (hasNewUploads() ? 'arrow-circle-up' : 'check')" iconPos="left"
              [disabled]="uploadLoading"/>
    <p-confirmPopup />
  </ng-template>
</p-dialog>