<p-dialog [header]="(isAdd() ? 'Add New' : 'Edit') + ' Thing'" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="manage-thing-dialog"
          (onShow)="handleFocus($event, nameField)">
  <div class="content-form">
    <table cellpadding="10">
      <tr>
        <td>
          Template
        </td>
        <td>
          <riw-template-dropdown [(selectedTemplate)]="selectedTemplate" [keepValue]="isEdit()"
                                 (manageTemplateEvent)="handleTemplateEvent($event)"/>
        </td>
      </tr>
      <tr>
        <td>
          <label htmlFor="name">Name</label>
        </td>
        <td>
          <input id="name" #nameField pInputText [(ngModel)]="actOn.name" (keyup.enter)="handleEnterKey(submit.bind(this))"/>
        </td>
      </tr>
      <tr>
        <td>
          <label htmlFor="time">Date</label>
        </td>
        <td>
          <p-calendar id="time" [(ngModel)]="actOn.time"
                      [showTime]="true" [showIcon]="true"
                      hourFormat="12" [stepMinute]="5"
                      [hideOnDateTimeSelect]="false"
                      [tabindex]="-1"
                      class="consistent-field" appendTo="body" ></p-calendar>
        </td>
      </tr>
      <tr *ngFor="let field of selectedTemplate?.fields">
        <td>
          <label [htmlFor]="field.property">{{ field.getLabel() }}</label>
        </td>
        <td>
          <!-- TODO Do we need any other field types for Things? Checkbox? Slider? -->
          <ng-container *ngIf="field.type === fieldTypes.Text || field.type === fieldTypes.Number">
            <input [id]="field.property" pInputText [type]="field.type" [required]="field.required || false" [(ngModel)]="field.value"/>
          </ng-container>
          <ng-container *ngIf="field.type === fieldTypes.Textarea">
            <textarea [id]="field.property" rows="3" pInputTextarea [(ngModel)]="field.value" [required]="field.required || false"></textarea>
          </ng-container>
          <ng-container *ngIf="field.type === fieldTypes.Radio">
            <div [id]="field.property">
              <ng-container *ngFor="let option of field.options; index as i">
                <p-radioButton [value]="option" [(ngModel)]="field.value" [inputId]="'option' + i" [required]="field.required || false" />
                <label [for]="'option' + i"> {{option}}</label>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="field.type === fieldTypes.Dropdown">
            <p-dropdown [id]="field.property" [(ngModel)]="field.value"
                        [options]="field.options"
                        [required]="field.required || false"
                        class="consistent-field" appendTo="body"/>
          </ng-container>
          <ng-container *ngIf="field.type === fieldTypes.Date || field.type === fieldTypes.Datetime">
            <p-calendar [id]="field.property" [(ngModel)]="field.value" dataType="string"
                        [required]="field.required || false"
                        [showTime]="field.type === fieldTypes.Datetime" [showIcon]="true"
                        hourFormat="12" [stepMinute]="5"
                        [hideOnDateTimeSelect]="field.type === fieldTypes.Date"
                        [tabindex]="-1"
                        class="consistent-field" appendTo="body" ></p-calendar>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
  
  <ng-template pTemplate="footer">
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submit()" label="Save Thing" icon="pi pi-check" iconPos="left"/>
  </ng-template>
</p-dialog>