<p-dialog #manageThingDialog
          [header]="(isAdd() ? 'Add New' : 'Edit') + ' Thing'" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="manage-thing-dialog"
          (onShow)="handleFocus(nameField)">
  <div class="content-form">

    <table cellpadding="10">
      <tr>
        <td class="hide-on-mobile">
          <label htmlFor="name">Name</label>
        </td>
        <td colspan="2">
            <input id="name" #nameField pInputText [(ngModel)]="actOn.name" (keyup.enter)="submit()" [placeholder]="isMobileSize() ? 'Name' : ''"/>
        </td>
      </tr>
      <tr>
        <td class="hide-on-mobile">
          Template
        </td>
        <td colspan="2">
          <riw-template-dropdown #templateDropdown
                                [(selectedTemplateName)]="selectedTemplateName"
                                (selectedTemplateNameChange)="templateNameChanged($event)"
                                (manageTemplateEvent)="handleTemplateEvent($event)"/>
        </td>
      </tr>
      <tr>
        <td class="hide-on-mobile">
          <label htmlFor="time">Date</label>
        </td>
        <td>
          <p-calendar id="time" [(ngModel)]="actOn.time"
                      [showTime]="true" [showIcon]="true"
                      hourFormat="12" [stepMinute]="5"
                      [hideOnDateTimeSelect]="false"
                      [tabindex]="-1"
                      class="consistent-field" appendTo="body" ></p-calendar>
        </td>
        <td>
          <!-- TODO Should make this less repetitive (with the wrapped version below), either with a component or better styling -->
          @if (!isMobileSize()) {
            <p-checkbox [(ngModel)]="actOn.reminder" (onChange)="reminderCheckboxChanged()"
                        [binary]="true" label="Reminder?"
                        pTooltip="Click to make this Thing a reminder that will display time left and notify you when due" />
          }
          @else {
            <!-- Hack to ensure the Add/Delete template circle buttons above don't wrap -->
            <div style="width: 80px;">&nbsp;</div>
          }
        </td>
      </tr>
      @if (isMobileSize()) {
        <tr>
          <td colspan="3">
            <p-checkbox [(ngModel)]="actOn.reminder" (onChange)="reminderCheckboxChanged()"
                        [binary]="true" label="Reminder?"
                        pTooltip="Click to make this Thing a reminder that will display time left and notify you when due" />
          </td>
        </tr>
      }
      @for (field of selectedTemplate?.fields; track field.property) {
        <tr>
          <td class="hide-on-mobile">
            <label [htmlFor]="field.property">
              {{ field.getLabel() }}
              @if (field.type === fieldTypes.Markdown) {
                <div class="md-note">(Markdown)</div>
              }
            </label>
          </td>
          <td colspan="2">
            <label [htmlFor]="field.property" class="field-label hide-on-desktop">
              <b>{{ field.getLabel() }}</b>
              @if (field.type === fieldTypes.Markdown) {
                <div class="md-note inline">&nbsp;(Markdown)</div>
              }
            </label>
            
            <!-- TODO Do we need any other field types for Things? Photos? Slider? Ongoing/Routine (aka infinite fields so you can keep adding to the same thing without flooding the table) -->
            @if (field.type === fieldTypes.Text || field.type === fieldTypes.Number) {
              <input [id]="field.property" pInputText [type]="field.type" [required]="field.required || false" [(ngModel)]="field.value"/>
            }
            @else if (field.type === fieldTypes.Textarea || field.type === fieldTypes.Markdown) {
              <textarea [id]="field.property" [rows]="3" [autoResize]="true" pInputTextarea
                        [(ngModel)]="field.value" [required]="field.required || false" class="our-textarea"></textarea>
            }
            @else if (field.type === fieldTypes.Radio) {
              <div [id]="field.property">
                @for (option of field.options; track $index) {
                  <p-radioButton [value]="option" [(ngModel)]="field.value" [inputId]="'option' + $index" [required]="field.required || false" />
                  <label [for]="'option' + $index"> {{option}}</label>
                }
              </div>
            }
            @else if (field.type === fieldTypes.Chooser) {
              @if (field.value) {
                <p-button (onClick)="field.handleRandomChooser(field)" [rounded]="true" icon="pi pi-bolt" pTooltip="Choose again" class="fleft"/>
                <span class="chooser-result">{{field.value}}</span>
              }
              @else {
                <p-button (onClick)="field.handleRandomChooser(field)" icon="pi pi-bolt" [label]="'Randomly choose from ' + field.options?.length + ' options'"/>
              }
            }
            @else if (field.type === fieldTypes.Boolean) {
              <p-triStateCheckbox [id]="field.property" [(ngModel)]="field.value" [required]="field.required || false" />
            }
            @else if (field.type === fieldTypes.Dropdown) {
              <p-dropdown [id]="field.property" [(ngModel)]="field.value"
                          [options]="field.options"
                          [required]="field.required || false"
                          class="consistent-field" appendTo="body"/>
            }
            @else if (field.type === fieldTypes.Date || field.type === fieldTypes.Datetime) {
              <p-calendar [id]="field.property" [(ngModel)]="field.value" dataType="string"
                          [required]="field.required || false"
                          [showTime]="field.type === fieldTypes.Datetime" [showIcon]="true"
                          hourFormat="12" [stepMinute]="5"
                          [hideOnDateTimeSelect]="field.type === fieldTypes.Date"
                          [tabindex]="-1"
                          class="consistent-field" appendTo="body" ></p-calendar>
            }
          </td>
        </tr>
      }
    </table>
  </div>
  
  <ng-template pTemplate="footer">
    @if (isEdit()) {
      <p-button (onClick)="handleDeleteThing($event)"
                icon="pi pi-trash"  [rounded]="true" severity="danger" pTooltip="Delete this Thing" class="fleft"/>
    }
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submit()" label="Save Thing" icon="pi pi-check" iconPos="left"/>
    <p-confirmPopup />
  </ng-template>
</p-dialog>