.manage-thing-dialog input,
.manage-thing-dialog textarea {
  width: var(--standard-field-width);
}

.content-form label {
  padding-right: 15px;
}

.share-text {
  padding-left: 5%;
}

.thing-in-table {
  width: 100%;
}

.thing-in-table td.hide-on-mobile {
  width: 5%;
}

.type-col {
  width: 100%;
  text-align: center;
}

.drop-area {
  padding: 10px;
  border: 5px solid transparent;
  text-align: center;
}

.drop-area .text-label {
  display: block;
  padding-bottom: 10px;
}

.drop-area p-button {
  margin-left: 10px;
  margin-right: 10px;
}

.drop-highlight {
  border: 5px inset var(--primary-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.type-col p-checkbox {
  margin-left: 20px;
  margin-right: 20px;
}

.upload-remove-note {
  font-style: italic;
  padding-top: 5px;
}

.upload-results {
  padding: 0 10px 5px 10px;
}

.upload-files {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-bottom: 5px;
}

.upload-item-wrap {
  position: relative;
}

.upload-new {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 2px 2px 4px;
  background-color: rgba(0,0,0,0.75);
  border-top-left-radius: 5px;
}

.upload-item {
  cursor: not-allowed;
  text-align: center;
}

:host ::ng-deep .upload-item .p-chip {
  min-height: 40px;
}

:host ::ng-deep .upload-item .p-chip:hover {
  color: #BB0000 !important;
}

img.upload-item {
  margin: 2px;
}

img.upload-item:hover {
  box-shadow: 0 0 10px red;
}

@media (max-width: 850px) { /* var(--mobile-breakpoint) equivalent, just can't use in media queries */
  .type-col p-checkbox {
    margin-left: 5px;
    margin-right: 5px;
  }
}