<p-dialog header="Add New Thing" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="add-new-dialog"
          (onShow)="handleFocus($event, nameField)">
  <div class="content-form">
    <table cellpadding="10">
      <tr>
        <td>
          Template
        </td>
        <td>
          <riw-template-dropdown [(selectedTemplate)]="selectedTemplate"
                                 (manageTemplateEvent)="handleTemplateEvent($event)"/>
        </td>
      </tr>
      <tr>
        <td>
          <label htmlFor="name">Name</label>
        </td>
        <td>
          <input id="name" #nameField pInputText [(ngModel)]="toAdd.name" (keyup.enter)="handleEnterKey(submitAddNew.bind(this))"/>
        </td>
      </tr>
      <tr>
        <td>
          <label htmlFor="time">Date</label>
        </td>
        <td>
          <p-calendar id="time" [(ngModel)]="toAdd.time"
                      [showTime]="true" [showIcon]="true"
                      hourFormat="12" [stepMinute]="5"
                      [hideOnDateTimeSelect]="false"
                      [tabindex]="-1"
                      [inputStyle]="{'min-width': '300px'}" appendTo="body" ></p-calendar>
        </td>
      </tr>
      <tr *ngFor="let field of selectedTemplate?.fields">
        <td>
          <label [htmlFor]="field.property">{{ field.getLabel() }}</label>
        </td>
        <td>
          <!-- TODO Use different types for fields, like radio buttons, etc. as needed in the future -->
          <input [id]="field.property" pInputText [type]="field.type" [required]="field.required || false" [(ngModel)]="field.value"/>
        </td>
      </tr>
    </table>
  </div>
  
  <ng-template pTemplate="footer">
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submitAddNew()" label="Save Thing" icon="pi pi-check" iconPos="left"/>
  </ng-template>
</p-dialog>