/* Define some PrimeNG specific variables */
:root {
  --table-paginator-height: 70px;
}

/* Make our top loading bar narrower, and speed it up slightly */
.loading-bar .p-progressbar {
  height: var(--progress-bar-height);
  border-radius: 0;
  background-color: transparent;
}
.loading-bar .p-progressbar .p-progressbar-value::before {
  animation-duration: 1.8s;
}

/* Size our progress spinner to fit well in the toolbar */
.p-progress-spinner {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  margin-left: 10px;
}
.p-progress-spinner-circle {
  stroke-width: 8;
}

/* Make the current day more noticeable in the calendar */
.p-datepicker-today span {
  font-weight: bold;
  font-size: 22px;
}

/* With all the headers and pagination we want a minimum number of viable rows to be shown */
.p-datatable .p-datatable-wrapper {
  min-height: 300px;
}

/* Preset paginator height so it's easier to calculate our table scroll */
.p-paginator {
  height: var(--table-paginator-height);
}

/* Slightly narrower headers */
.p-datatable .p-datatable-thead > tr > th:not(.p-sortable-column) {
  padding: 10px;
}
.p-datatable .p-datatable-thead > tr > th.p-sortable-column {
  padding: 15px;
}

/* Match our custom Fields filter input to the others */
p-columnfilterformelement .p-inputtext {
  height: 30px;
}

/* Use a bigger width for the menu on the Reminders split button*/
.p-tieredmenu {
  width: 200%;
}

/* Setup a max width so a lot of chips will automatically wrap to multiline */
.p-chips-multiple-container {
  max-width: 750px;
}

/* Ensure the dialogs size nicely to the page, regardless of view and content */
.manage-thing-dialog .p-dialog,
.manage-template-dialog .p-dialog {
  min-width: 50vw;
  height: 90vh;
}
.manage-thing-dialog .p-dialog,
.manage-template-dialog .p-dialog,
.global-search-dialog .p-dialog {
  max-width: 95vw;
}

/* Put a bit of a gap between the label and the checkbox */
.checkbox-label-on-left .p-checkbox {
  margin-left: 8px;
}

/* Ensure the toast messages don't wrap outside a mobile screen */
.p-toast {
  max-width: 90vw;
}

/* Size our various inputs to a consistent minimum width */
.consistent-field .p-dropdown,
.consistent-field .p-calendar input {
  width: var(--standard-field-width);
}

@media (max-width: 800px) { /* TODO Put any mobile breakpoints into a variable */
  .fixed-toolbar p-button .p-button-label,
  .fixed-toolbar .p-splitbutton-defaultbutton .p-button-label {
    display: none; /* TODO Should we still do this with buttons? Or just switch to speed dial? */
  }
  
  .hide-on-mobile {
    display: none;
  }
  
  .p-dialog .p-dialog-content {
    padding: 10px;
  }
  
  .p-dialog-header {
    padding: 15px 15px 0 15px;
  }
  
  .manage-thing-dialog .p-dialog,
  .manage-template-dialog .p-dialog {
    height: auto;
  }
  
  .content-form {
    margin-top: 0 !important;
  }
}
