/* Make our top loading bar narrower, and speed it up slightly */
.loading-bar .p-progressbar {
  height: var(--progress-bar-height);
  border-radius: 0;
  background-color: transparent;
}
.loading-bar .p-progressbar .p-progressbar-value::before {
  animation-duration: 1.8s;
}

/* Size our progress spinner to fit well in the toolbar */
.p-progress-spinner {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 10px;
}

/* Make the current day more noticeable in the calendar */
.p-datepicker-today span {
  font-weight: bold;
  font-size: 22px;
}

/* Let the table always be visibile, as we handle scrolling elsewhere */
/* ISSUE: If we hide the scrolling, mobile gets wrecked (dialogs open way in the middle of the page),
          but if we leave the scrolling and don't have many rows, then opening the Date filter won't properly
           show the calendar (it will open inside the table, even with appendTo, and need scrolling to access)
          Likely leave this commented out, as a realistic scenario will have more rows and mobile is important */
.p-datatable .p-datatable-wrapper {
  /*
  overflow-x: visible;
  overflow-y: visible;
  */
}

/* Slightly narrower headers */
.p-datatable .p-datatable-thead > tr > th:not(.p-sortable-column) {
  padding: 10px;
}
.p-datatable .p-datatable-thead > tr > th.p-sortable-column {
  padding: 15px;
}

/* Match our custom Fields filter input to the others */
p-columnfilterformelement .p-inputtext {
  height: 30px;
}

/* Use a bigger width for the menu on the Reminders split button*/
.p-tieredmenu {
  width: 200%;
}

/* Setup a max width so a lot of chips will automatically wrap to multiline */
.p-chips-multiple-container {
  max-width: 750px;
}

/* Ensure the dialogs size nicely to the page, regardless of view and content */
.manage-thing-dialog .p-dialog,
.manage-template-dialog .p-dialog {
  min-width: 50vw;
  max-width: 95vw;
  height: 90vh;
}

/* Put a bit of a gap between the label and the checkbox */
.checkbox-label-on-left .p-checkbox {
  margin-left: 8px;
}

/* To match the "always show a scrollbar" body style, do the same for any dialogs, to prevent the view from jumping */
.p-dialog-mask {
  overflow-y: scroll;
}

/* Ensure the toast messages don't wrap outside a mobile screen */
.p-toast {
  max-width: 90vw;
}

/* Size our various inputs to a consistent minimum width */
.consistent-field .p-dropdown,
.consistent-field .p-calendar input {
  min-width: var(--standard-field-width);
}

/* TODO Proper speed dial styling
.p-speeddial-item { // For ALL dial items
#pn_id_5_1 { // For a specific item, can change _1 to _2 and so on
  border: 10px solid purple;
  background-color: red;
}
#pn_id_5_2 .p-speeddial-action { // Circle itself
  background-color: red;
  opacity: 1;
}
*/

/* Make the spinner thicker on large screens */
@media (min-width: 500px) {
  .p-progress-spinner-circle {
    stroke-width: 8;
  }
}

@media (max-width: 800px) { /* TODO Put any mobile breakpoints into a variable */
  .fixed-toolbar p-button .p-button-label,
  .fixed-toolbar .p-splitbutton-defaultbutton .p-button-label {
    display: none;
  }
}
