html, body {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.loading-bar .p-progressbar {
  height: 3px;
  border-radius: 0;
  background-color: transparent;
}

.loading-bar .p-progressbar .p-progressbar-value::before {
  animation-duration: 1.8s;
}

.p-progress-spinner {
  width: 45px;
  height: 45px;
}

.add-new-dialog .p-dialog {
  min-width: 50vw;
  height: 90vh;
}

@media (min-width: 500px) {
  .p-progress-spinner-circle {
    stroke-width: 8;
  }
}
