:root {
  --fixed-toolbar-height: 60px;
  --progress-bar-height: 3px;
  --standard-field-width: 300px;
  --dial-right-pos: 40px;
  --dial-box-size: 64px;
}

@media (max-width: 800px) {
  :root {
    --standard-field-width: 150px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  height: 100%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-label-on-left {
  flex-direction: row-reverse;
}

.subtext {
  font-size: 12px;
}

.red-error {
  color: #DD0000;
}

.green-success {
  color: #00DD00;
}

.consistent-field {
  width: var(--standard-field-width);
}
