:root {
  --fixed-toolbar-height: 60px;
  --standard-field-width: 300px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.loading-bar .p-progressbar {
  height: 3px;
  border-radius: 0;
  background-color: transparent;
}

.loading-bar .p-progressbar .p-progressbar-value::before {
  animation-duration: 1.8s;
}

.p-toolbar {
  padding: 0 10px 0 10px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 5px 5px var(--primary-color);
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--fixed-toolbar-height);
}

.p-progress-spinner {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 10px;
}

.p-datepicker-today span {
  font-weight: bold;
  font-size: 22px;
}

.p-datatable .p-datatable-wrapper {
  overflow-x: visible;
  overflow-y: visible;
}

.p-datatable .p-datatable-thead > tr > th:not(.p-sortable-column) {
  padding: 10px;
}

.p-datatable .p-datatable-thead > tr > th.p-sortable-column {
  padding: 15px;
}

p-columnfilterformelement .p-inputtext {
  height: 30px;
}

.manage-thing-dialog .p-dialog,
.manage-template-dialog .p-dialog {
  min-width: 50vw;
  height: 90vh;
}

.checkbox-label-on-left {
  flex-direction: row-reverse;
}

.checkbox-label-on-left .p-checkbox {
  margin-left: 8px;
}

.subtext {
  font-size: 12px;
}

.red-error {
  color: #DD0000;
}

.green-success {
  color: #00DD00;
}

.consistent-field,
.consistent-field .p-dropdown,
.consistent-field .p-calendar input {
  min-width: var(--standard-field-width);
}

.p-chips-multiple-container {
  /* Setup a max width so a ton of chips will wrap to multiline */
  max-width: 750px;
}

@media (min-width: 500px) {
  .p-progress-spinner-circle {
    stroke-width: 8;
  }
}
