<p-dialog header="Manage Templates" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="manage-template-dialog">
  <div class="content-form">
    <div class="center manage-radio-font">
      Template:&nbsp;
      <p-radioButton value="create" [(ngModel)]="operation" (onClick)="operationRadioClicked()" inputId="createIn"></p-radioButton>
      <label for="createIn"> Create</label>
      &nbsp;
      <p-radioButton value="edit" [(ngModel)]="operation" (onClick)="operationRadioClicked()" inputId="editIn"></p-radioButton>
      <label for="editIn"> Edit</label>
      &nbsp;
      <p-radioButton value="delete" [(ngModel)]="operation" (onClick)="operationRadioClicked()" inputId="deleteIn"></p-radioButton>
      <label for="deleteIn"> Delete</label>
    </div>
    <br/>
    
    <ng-container *ngIf="operation === 'create' || operation === 'edit'">
      <ng-container *ngIf="operation === 'create'">
        <p>Setup the <b>Name</b> of your template (must be unique between all templates).</p>
        <p>Then you can add as many fields related to the template you want.<br/>
        Each field has a <b>Property/ID</b> which must be unique in this template, and won't be shown to the user.<br/>
        The <b>Label</b> is assigned to the input the user enters when using this template.</p>
        <p>Each template also automatically provides a name input for the user to fill in, and an optional date.</p>
      </ng-container>
      <table cellspacing="5" cellpading="0" class="template-table">
        <tr *ngIf="operation === 'edit'">
          <td colspan="5">
            <label>Template to Edit:&nbsp;</label>
            <!-- TODO Perhaps need to clone actOn so that the dropdown doesn't auto-update as we change the Edit - Name field, for example-->
            <riw-template-dropdown [(selectedTemplate)]="actOn"
                                   [hideDefaults]="true"
                                   [hideControls]="true" />
          </td>
        </tr>
        <ng-container *ngIf="actOn">
        <tr>
          <td colspan="5">
            <span class="p-float-label">
              <input #nameField pInputText [(ngModel)]="actOn.name" (keyup.enter)="handleEnterKey(submit.bind(this))"
                     (ngModelChange)="createNameChanged($event)"/>
              <label>Template Name</label>
              <ng-container *ngIf="operation === 'create'">
                <span *ngIf="nameIsDuplicate" class="red-error subtext">&nbsp;&nbsp;* Name exists already</span>
                <span *ngIf="!nameIsDuplicate" class="green-success subtext">&nbsp;&nbsp;* Name is unique</span>
              </ng-container>
            </span>
          </td>
        </tr>
        
        <tr *ngFor="let field of actOn?.fields">
          <td>
            <p-button icon="pi pi-times" severity="danger" size="small" (onClick)="removeField(field)" />
          </td>
          <td>
            <span class="p-float-label">
              <input pInputText [(ngModel)]="field.property"/>
              <label>Property/ID</label>
            </span>
          </td>
          <td>
            <span class="p-float-label">
              <input pInputText [(ngModel)]="field.label"/>
              <label>Label</label>
            </span>
          </td>
          <td>
            <label>Type&nbsp;</label>
            <p-dropdown [options]="typeOptions"
                        appendTo="body"
                        [(ngModel)]="field.type"/>
          </td>
          <td>
            <p-checkbox [(ngModel)]="field.required" [binary]="true" label="Is Required?" class="checkbox-label-on-left"/>
          </td>
        </tr>
        </ng-container>
      </table>
      <ng-container *ngIf="operation === 'create'">
        <p-button (onClick)="addField()" icon="pi pi-plus" [rounded]="true" severity="success" title="Add a new field" />
      </ng-container>
    </ng-container>
    
    <ng-container *ngIf="operation === 'delete'">
      <div class="delete-wrap">
        <label>Template to Delete:&nbsp;</label>
        <riw-template-dropdown [(selectedTemplate)]="actOn"
                              (selectedTemplateChange)="deleteTargetChanged()"
                              [hideDefaults]="true"
                              [hideControls]="true" />
        <br/>
        <p>By default deleting a template <b>will NOT</b> clear or remove any related Things that used the template.</p>
        <ng-container *ngIf="actOn">
          <p>Note that you <i>can</i> choose to delete all related Things.<br/>Check a count of the selected template to see how far reaching this would be:</p>
          <p-button (onClick)="checkForThings()" [label]="'Count Things using \'' + actOn.name + '\''" icon="pi pi-search" iconPos="left" severity="secondary"/>
          <p-checkbox *ngIf="lastCheckCount" [(ngModel)]="deleteThings" [binary]="true" [label]="'Delete ' + lastCheckCount + ' Things as well'" class="checkbox-label-on-left"/>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-template pTemplate="footer">
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submit($event)" [label]="getSubmitLabel()" icon="pi pi-check" iconPos="left"/>
    <p-confirmPopup />
  </ng-template>
</p-dialog>