<p-dialog header="Manage Templates" [(visible)]="isShowing" [modal]="true" [maximizable]="true" class="manage-template-dialog">
  <div class="content-form">
    <div class="center manage-radio-font">
      Template:&nbsp;
      <p-radioButton value="create" [(ngModel)]="operation" (onClick)="operationRadioClicked()" inputId="createIn"></p-radioButton>
      <label for="createIn"> Create</label>
      &nbsp;
      <p-radioButton value="delete" [(ngModel)]="operation" (onClick)="operationRadioClicked()" inputId="deleteIn"></p-radioButton>
      <label for="deleteIn"> Delete</label>
    </div>
    <br/>
    
    <ng-container *ngIf="operation === 'create'">
      <!-- TODO Auto hide (with an option to expand) this help text based on the user account, once they've logged in X number of times, or show again if they haven't logged in in a while-->
      <p>Setup the <b>Name</b> of your template (must be unique between all templates).</p>
      <p>Then you can add as many fields related to the template you want.<br/>
      Each field has a <b>Property/ID</b> which must be unique in this template, and won't be shown to the user.<br/>
      The <b>Label</b> is assigned to the input the user enters when using this template.</p>
      <p>Each template also automatically provides a name input for the user to fill in, and an optional date.</p>
      <p>Note for the sake of data integrity you cannot edit a template after creation.</p>
      <table cellspacing="5" cellpading="0" class="template-table">
        <ng-container *ngIf="actOn">
          <tr>
            <td colspan="3">
              <span class="p-float-label">
                <input #nameField pInputText [(ngModel)]="actOn.name" (keyup.enter)="handleEnterKey(submit.bind(this))"
                      (ngModelChange)="createNameChanged($event)"/>
                <label>Template Name</label>
                <ng-container *ngIf="operation === 'create'">
                  <span *ngIf="nameIsDuplicate" class="red-error subtext">&nbsp;&nbsp;* Name exists already</span>
                  <span *ngIf="!nameIsDuplicate" class="green-success subtext">&nbsp;&nbsp;* Name is unique</span>
                </ng-container>
              </span>
            </td>
            <td colspan="2">
              <span class="p-float-label">
                <input pInputText *ngIf="actOn.color === 'inherit'" value="default (change to the right)" readonly />
                <input pInputText *ngIf="actOn.color !== 'inherit'" [(ngModel)]="actOn.color" />
                <label>Optional Color coding</label>
                &nbsp;
                <p-colorPicker [(ngModel)]="actOn.color" appendTo="body"/>
                <p-button icon="pi pi-ban" pTooltip="Reset the color" severity="secondary" size="small" [rounded]="true" [text]="true" (onClick)="resetColor()" />
              </span>
            </td>
          </tr>
          
          <ng-container *ngFor="let field of actOn?.fields">
            <tr>
              <td>
                <p-button icon="pi pi-times" severity="danger" size="small" (onClick)="removeField(field)" />
              </td>
              <td>
                <span class="p-float-label">
                  <input pInputText [(ngModel)]="field.property"/>
                  <label>Property/ID</label>
                </span>
              </td>
              <td>
                <span class="p-float-label">
                  <input pInputText [(ngModel)]="field.label"/>
                  <label>Label</label>
                </span>
              </td>
              <td>
                <label>Type&nbsp;</label>
                <p-dropdown [options]="typeOptions"
                            appendTo="body"
                            [(ngModel)]="field.type"/>
              </td>
              <td>
                <p-checkbox [(ngModel)]="field.required" [binary]="true" label="Is Required?" class="checkbox-label-on-left"/>
              </td>
            </tr>
            <tr *ngIf="field.type === fieldTypes.Radio || field.type === fieldTypes.Dropdown">
              <td>&nbsp;</td>
              <td colspan="4">
                <span class="p-float-label">
                  <p-chips [(ngModel)]="field.options" [allowDuplicate]="false" [addOnBlur]="true"/>
                  <label>List of Options</label>
                </span>
                &nbsp;<span class="subtext">Type in a unique option and press Enter to add to the list</span>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </table>
      <ng-container *ngIf="operation === 'create'">
        <p-button (onClick)="addField()" icon="pi pi-plus" [rounded]="true" severity="success" pTooltip="Add a new field" />
      </ng-container>
    </ng-container>
    
    <ng-container *ngIf="operation === 'delete'">
      <div class="delete-wrap">
        <label>Template to Delete:&nbsp;</label>
        <riw-template-dropdown [(selectedTemplate)]="actOn"
                               (selectedTemplateChange)="deleteTargetChanged()"
                               [hideDefaults]="true"
                               [hideControls]="true" />
        <br/>
        <p>By default deleting a template <b>will NOT</b> remove or clear any related Things that used the template.</p>
        <ng-container *ngIf="actOn">
          <p>Note that you <i>can</i> choose to delete all related Things.<br/>Check a count of the selected template to see how far reaching this would be:</p>
          <p-button (onClick)="checkForThings()" label="Count Things" icon="pi pi-search" iconPos="left" severity="secondary"/>
          <p-checkbox *ngIf="lastCheckCount" [(ngModel)]="deleteThings" [binary]="true" [label]="'Delete ' + lastCheckCount + ' Things as well'" class="checkbox-label-on-left"/>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-template pTemplate="footer">
    <p-button (onClick)="hide()" label="Cancel" icon="pi pi-times" iconPos="left" severity="secondary"/>
    <p-button (onClick)="submit($event)" [label]="getSubmitLabel()" icon="pi pi-check" iconPos="left"/>
    <p-confirmPopup />
  </ng-template>
</p-dialog>